<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MaJoin</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="../Css/main-style.css">
    <link rel="stylesheet" href="../Css/checkbox.css">
</head>
<body>
    
    <header>
        <H1>MaJoin</H1>
        <div id="menuToggle">
            <input id="checkbox" type="checkbox">
            <label class="toggle" for="checkbox">
                <div class="bar bar--top"></div>
                <div class="bar bar--middle"></div>
                <div class="bar bar--bottom"></div>
            </label>        
            </div>
        </div>
        
        <ul id="menu">
            <div class="box">
                <img src="../iconlike/profile-user-icon-isolated-on-white-background-eps10-free-vector.jpg" alt="" id="profileImg">
                <label for="userImg" class="userImg">
                    <input type="file" id="userImg" style = " display: none"multiple accept="image/*">
                </label>
                
                <span id="name"></span>
                <hr>
                
            </div>
            <div class="box2">
                <div class="setting">
                    <i class="fa-solid fa-gear"></i>
                    
                    <a href="../views/setting.html"><li>Setting</li></a>
                </div>
                
                <div class="logout">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    <a href="../views/login.html"><li>Log Out</li></a>
                </div>
                
            </div>
            
        </ul>
        
    </header>

    <main>
        <div id="container-postbox">
            <ul id="displayPost">
            

            </ul>
        </div>
    </main>

    <footer>
        <div id="containnerInputPost">
            <div class="inputPost">
                <label for="postImage" class="image-upload-button">
                    <i class="fas fa-camera">
                            <input type="file" id="postImage" multiple accept="image/*" style="display: none;" onchange="insertImage(event)">
                    </i>
                </label>
                <div id="postContent" contenteditable="true" placeholder="พิมพ์ข้อความที่นี่...">

                </div>
                <button id="sendpost">post</button>
            </div>
            
        </div>
    </footer>
    
    <script src="../Js/animationFade.js"></script>
    <script src="../Js/slideMenu.js"></script>
    <script src="../Js/AnimationPostBox.js"></script>


    <script src="../js/postContent_filterOnlyText.js"></script>
    <script src="../Js/inputImage.js"></script>
    <script src="../Js/Fixpost-FixComment.js"></script>
    <script src="../Js/Comment.js"></script>
    <script src="../Js/AddPost.js"></script>
    <script src="../Js/Posts.js"></script>

    <script src="../Js/mainPage.js"></script>
</html>